[project]
	description = ?? Zephyr OS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Liu Lei (Alvin-Lau)
[access "refs/for/refs/*"]
	read = group user/Liu Lei (Alvin-Lau)
	push = group user/Liu Lei (Alvin-Lau)
	label-Code-Review = -2..+2 group user/Liu Lei (Alvin-Lau)
	label-Verified = -1..+1 group user/Liu Lei (Alvin-Lau)
	rebase = group user/Liu Lei (Alvin-Lau)
	removeReviewer = group user/Liu Lei (Alvin-Lau)
	submit = group user/Liu Lei (Alvin-Lau)
[access "refs/heads/*"]
	read = group user/Liu Lei (Alvin-Lau)
	create = group user/Liu Lei (Alvin-Lau)
	push = +force group user/Liu Lei (Alvin-Lau)
	pushMerge = group user/Liu Lei (Alvin-Lau)
[access "refs/tags/*"]
	push = group user/Liu Lei (Alvin-Lau)
	push = +force group user/Liu Lei (Alvin-Lau)
